<style type="text/css">
	/*div p {
		background-color: yellow;
	}
	
	div#three {
		color: red;
	}
	
	ul + div {
		background-color: purple;
	}
	
	div#three:after {
		content: 'Hello'
	}
	
	div[lang=en] {
		background-color: yellow;
	}*/
</style>

<div class="mdl-grid">
		
	<div class="mdl-cell mdl-cell--12-col">
		<h2 class="mdl-card__title-text">Selectors</h2>

        <hr>

		<p id="three">First Paragraph</p>
		<div lang="en">Hi</div>
		<ul>
			<p id="two">Second Paragraph</p>
		</ul>
		<div id="three">Test</div>
	</div>

</div>