<div class="mdl-grid">
		
	<div class="mdl-cell mdl-cell--12-col">
		<h2 class="mdl-card__title-text">Video</h2>

        <hr>
        
        <video width="711" height="400" poster="https://avatars3.githubusercontent.com/u/8111407?v=4&s=460"
            controls autobuffer  loop mute>
            <source src="http://ie.microsoft.com/testdrive/Graphics/VideoFormatSupport/big_buck_bunny_trailer_480p_high.mp4" type="video/mp4" />
            <source src="http://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_480p_stereo.ogg" type="video/ogg" />
        </video>
	</div>
</div>